<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../Partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../Partials/header'); %>
</header>
<main>
  
<%- body %>
</main>

<footer>
  <%- include('../Partials/footer'); %>
</footer>


</body>
</html>

